*{
  box-sizing: border-box;
}

body {
/*  width: 68.75em;
  margin: auto;
*/  padding: 1em;
}

header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

nav a{
  font-weight: 600;
  padding: 0.188em 3.75em;
  border-bottom: none;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 7.75em;
  font-size: 1;
  font-family: 'Raleway', sans-serif;
}


nav a:hover {
  text-decoration: underline;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: row;
}

# .centering h1 {
#   position: absolute;
#   display: block;
#   margin: 0 auto;
#   transform: translate(-8%,140%);
#   width: 100%;
#   color: white;
#   padding-top: 30px;
# }

.centering {
  position: relative;
}

.centering h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

#header-background {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 17em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.5em;
}

.hamburger {
  display: none;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 0.9em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
}

h3 {
  padding-top: 1.4em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.17em;
}

img {
  width: 100%;
  height: 25em;
}

#this-image-width {
  width: 100%;
  height: 12.5em;
}

footer {
  margin-top: 3.5em;
  padding-top: 1.875em;
  padding-bottom: 0.125em;
  text-align: center;
  background-color: #ccffff;
  width: 100%;
}

 .items {
  color: #003333;
}

section ul li a{
  color: #003333;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.4em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#one {
  border-top: 0.063em solid #003333;
  margin-top: 3.125em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#space-the-button {
  text-transform: uppercase;
  padding: 0.5em;
  text-align: center;
  border: 1px solid #003333;
  font-weight: 700;
  color: #003333;
  font-size: 0.6em;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#space-the-button:hover {
  background-color: #595959;
  color: white;
}

#email {
  text-transform: uppercase;
  text-align: center;
  margin-top: 2.5em;
  margin-right: 0.625em;
  border: none;
  padding: 0.438em 2.5em;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  order: 1;
  flex: 3;
  margin-right: 2em;
}

aside {
  order: 2;
  flex: 1;
  margin-top: 4.375em;
}

.flex {
  flex: 1;
  display: flex;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 1em;
}

.footer-style {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

i {
  margin-right: 1em;
}

fieldset {
  border: 0.063em solid white;
}

input {
  border: 0.125em solid #003333;
  color: #003333;
}

#two {
  padding: 0.75em;
  width: 49.25%;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

#three {
  padding: 0.75em;
  width: 49.25%;
  margin-bottom: 0.5em;
}

#four {
  padding: 0.5em;
  height: 10em;
  width: 100%;
  margin-bottom: 0.5em;
}

#five {
  padding: 0.75em;
  border: 0.125em solid #003333;
  color: #003333;
  text-align: center;
  width: 100%;
}

.comment {
  text-transform: uppercase;
  padding-bottom: 0.938em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.aligning {
  text-align: center;
}


@media only screen and (max-width: 560px) {

  body {
    padding:0;
  }

  #header-background {
    max-width: 100%;
    margin-top: 0;
  }

  .hamburger {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    top: 1em;
    left: 1.3em;
    z-index: 50;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    max-width: 100%;
  }

  nav {
    display: none;
  }

  #two {
    width: 100%;
    margin-bottom: 1.75em;
  }

  #three {
    width: 100%;
  }

  #email {
  width: 70%;
}

  #space-the-button {
    margin-top:2em;
    width: 70%;
  }

  .comment {
    max-width: 100%;
  }

  aside {
    display: none;
  }


}

